/*** générique ***/

strong {
	color:black;	
}

a:active, a:hover {
	text-decoration: none;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:#EEE;
}

ul {
	list-style-type:none;
}

footer {
	text-align: center;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

@media screen and (max-width : 767px){
	footer {
		position:static;
	}
}

.margin-bottom {
	margin-bottom:10px;
}

.margin-right {
	margin-right:10px;
}

.margin-left {
	margin-left:10px;
}

.alert-backup {
	left:40px;
}

.margin-top {
	margin-top:30px!important;
}

.padding-bottom {
	padding-bottom:10px;
}

.padding-top {
	padding-top:10px;
}

.margin-top-4 {
	margin-top:4px;
}

.center {
	text-align:center;
}

.info-widget {
	margin-right:-15px;
	text-align:right;
}

.right {
	text-align:right;
}

.left {
	text-align:left;
}

.block-right {
	float:right;
}

.block-left {
	float:left;
}

.cursor {
	cursor:pointer;
}

output {
	padding-top:0px;
}

@media screen and (max-width : 767px){
	.range-width {
		width:20% !important;	
	}
}

.on-light {
	color: #CCE833 !important;
	box-shadow:1px 1px 7px 6px !important;
}

.btn < span.fa-info-circle.md {
	padding: 6px 10px;
}

.md {
	font-size:large;	
}

.lg {
	font-size:xx-large;	
}

@media screen and (max-width : 767px){
	.lg {
		font-size:large;	
	}
}

.form-control-popup{
	width:450px !important;
}

#warningspan{
	position:relative;
	top:20px;
}

/* Special input range*/

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 25px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #F5F5F5;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 23px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86BF2B), color-stop(100%, #76AF1A)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #86BF2B 0, #76AF1A 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #86BF2B 0, #76AF1A 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 23px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #86BF2B 0, #76AF1A 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 23px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #86BF2B 0, #76AF1A 100%); /* W3C */
}

/*  bhoechie tab */

#bhoechie-tab {
	padding-top:10px;
}

div.bhoechie-tab-container{
  padding: 0 !important;
}

/* device menu*/
div.bhoechie-tab-menu-right{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

div.bhoechie-tab-menu-right div.list-group-app{
  margin-bottom: 0;
}
div.bhoechie-tab-menu-right div.list-group-app>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu-right div.list-group-app>a .glyphicon,
div.bhoechie-tab-menu-right div.list-group-app>a .fa {
  color: #76AF1A;
}
div.bhoechie-tab-menu-right div.list-group-app>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu-right div.list-group-app>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu-right div.list-group-app>a.active,
div.bhoechie-tab-menu-right div.list-group-app>a.active .glyphicon,
div.bhoechie-tab-menu-right div.list-group-app>a.active .fa{
  background-color: #ededed;
  background-image: #76AF1A;
  color: #76AF1A;
}
div.bhoechie-tab-menu-right div.list-group-app>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

/*room menu*/

div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #76AF1A;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fi {
	color: #76AF1A;
}

div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #ededed;
  background-image: #76AF1A;
  color: #76AF1A;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

div.bhoechie-tab-content{
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/* Collapsed menu*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  background-color: #fff;
  width: calc( 100% - 75px );
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ccc;
  border-left: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #76AF1A;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-right-width: 0;
  border-left-width: 15px;
  right: -15px;
  left: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-right-width: 0;
  border-left-width: 14px;
  right: -14px;
  left: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-body {
    display: none;
}

/* accordion */

.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.side-tab:hover {
        cursor: pointer;
 }
 
.panel.panel-default {
    border: none;
    box-shadow: none !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
.panel-default .panel-heading-floor {
    background-color: #76AF1A!important;
    color: #fff;
}

.panel-heading-floor {
    border: none;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px !important;

}

.panel-default .panel-heading-device {
    background-color: #c7c3a9!important;
    color: #fff;
}

.panel-heading-device {
    border: none;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px !important;

}

.panel-default .panel-heading-room {
    background-color: #a4a139!important;
    color: #fff;
}

.panel-heading-room {
    border: none;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px !important;

}

.panel-body {
    background-color: #f5f5f5;
}

.panel-title {
    font-weight: 400;
    color: $white;
}

.panel-title-device {
	color: black !important;
}

/* widget */

.rotate-90 {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand')";
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
}

.rotate--90 {
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')";
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
}

.mirror {
	transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.display-widget {
	margin-top: 10px;
}

.box > .icon { 
	text-align: center; 
	position: relative; 
}

.box > .icon > .image { 
	position: relative; 
	z-index: 5; 
	margin: auto; 
	width: 66px; 
	height: 66px; 
	border: 6px solid white; 
	line-height: 66px; 
	border-radius: 50%; background: #76AF1A; 
	vertical-align: middle;
	box-shadow: 0 1px 5px;
}

.box > .icon > .image > i { 
	font-size: 27px !important; 
	color: #fff; 
}
	
.box > .icon:hover > .image > i { 
	color: white; 
}

.box > .icon > .info { 
	margin-top: -24px; 
	background: rgba(0, 0, 0, 0.04); 
	border: 1px solid #e0e0e0; 
	box-shadow: 0 1px 5px;
	z-index: 1;
}

.box > .icon > .info > h3.title { 
	font-family: "Roboto",sans-serif !important; 
	font-size: 16px; 
	color: #222; 
	font-weight: 500; 
}

.box .icon .info h3.title {
	margin-top:5px;
}

.box > .icon > .info > p { 
	font-family: "Roboto",sans-serif !important; 
	font-size: 13px; 
	color: #666; 
	line-height: 1.5em; 
	margin: 20px;
}

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { 
	color: #222; 
}

.info-bg {
	background-position: center center;
	background-size: cover;
	margin-top: -24px;
	opacity: 0.7;
	z-index: -1;
}

.box .space { 
	height: 30px; 
}

/***.custom-icon{
	margin: 1px 1px 0px 0px;
}**/

.width {
	width: 75%;
}

.widget-height {
	height:100px;
}

.border-widget {
	-moz-box-shadow: 0 0 1px black;
    -webkit-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
    border-radius: 4px;
}

.widget-area {
	position:relative;
	top:50px;
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-disabled {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Miscrosoft.Alpha(Opacity=0.5)";
	cursor:default;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}

/* java apps */

img {
  border: 0px;
}

.indent0 {
  margin-right: 40px; 
  margin-left: 40px;
  padding: 8px;
}

.indent1 {
  margin-right: 40px; 
  margin-left: 40px;
  padding: 8px;
  background-color: #90A8AE;  /* #C3C0C0; */
  border: solid 1px #888888;  /* #B0B0B0; */
}

.indent2 {
  text-align: left; 
  text-indent: 20px;
}

.Title1 {
  font-weight: bold; 
  font-size: 30px;
}

/* bootstrap*/

.input-group-addon {
    color: #fff;
    background: #76AF1A;
}

.input-group-addon.btn.btn-warning {
	background-color: #EC971F;
	width: 30px;	
}

.input-group {
	width: 100%;
}

.input-group output {
	font-size: 1.2em !important;
	margin-left:10px;
	margin-right:10px;
}

.info .input-group {
	max-width:150px;
	margin:auto;
}

a.carousel-control-camera:focus,
a.carousel-control-camera:hover {
	color:#fff;
}

.carousel-control-camera {
	bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
}

#cmd-camera-top {
	width:100%;
	margin-top:15px;
}

#cmd-camera-bottom {
	width:100%;
	top:auto;
	bottom:0;
	margin-bottom:15px;
}
 
#cmd-camera-bottom span.glyphicon {
	font-size:30px;
	bottom:0;
}

#cmd-camera-top span.glyphicon {
	font-size:30px;
	top:0;
}

#cmd-camera-left span.glyphicon {
	top:50%;
	display:inline-block;
	position:absolute;
	font-size:30px;
	left:0;
}

#cmd-camera-right{
	right:0;
	left:auto;
}

#cmd-camera-right span.glyphicon {
	top:50%;
	display:inline-block;
	position:absolute;
	font-size:30px;
	right:0;
}

.label-greenleaf, 
.btn-greenleaf, 
.btn-greenleaf:focus, 
.btn-group-greenleaf .dropdown-menu, 
.btn-group-greenleaf .dropdown-menu li > a:hover, 
.btn-group-greenleaf .dropdown-menu li > a:focus {
    background-color: #86bf2b;
    border-color: #7eb527;
    color: #ffffff;
}

.btn-group-greenleaf .dropdown-menu:hover, .btn-greenleaf:hover {
    background-color: #7eb527;
    border-color: #4c6c18;
    color: #ffffff;
}


.dropdown-confgreenleaf > li > a:hover {
    background-color: white !important;
    border-color: #449d44;
    color: black;
}

.dropdown-confgreenleaf > li > a {
    background-color: #86bf2b !important;
    border-color: #449d44;
    cursor:pointer;
    color:white;
}

.checkbox + .checkbox, .radio + .radio {
	margin-top:10px;
}

.btn-perm.active {                
	display: none;		
}

.btn-perm span:nth-of-type(1)  {            	
	display: none;
}
.btn-perm span:last-child  {            	
	display: block;		
}

.btn-perm.active  span:nth-of-type(1)  {            	
	display: block;		
}
.btn-perm.active span:last-child  {            	
	display: none;			
}

.sidebar {
	background-color: #F5F5F5;
	position: fixed;
    top: 30px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
}

@media screen and (max-width : 767px){
	.sidebar {
		background-color: #F5F5F5;
		position: fixed;
	    top: 30px;
	    bottom: 0;
	    z-index: 1000;
	    display: block;
	    padding: 20px;
	    marging-right:60px;
	    overflow-x: hidden;
	    overflow-y: auto; 
	    font-size:0.9em;
	}
}

@media screen and (min-width : 768px) and (max-width : 991px){
	.sidebar {
		font-size:0.8em;
	}
}

.alert-hidden {
	display: none;
}

.modal-dialog {
	z-index:1050;
}

.bootstrap-dialog.type-primary .modal-header{
	background-color:#7caa29;
	color:#fff;
}

.panel-default .panel-heading {
	margin-bottom:2px;
	background-color:#FFFFFF;
	color:#76af1a;
}

.nav > li > a {
	color:black;
}

.nav-sidebar {
	margin:0px -21px 20px -20px;
}

.nav-sidebar .nav-sidebar{
	margin:0px -21px 0px 20px;
}

.nav.nav-sidebar .nav-sidebar > li > a {
	padding:5px 10px;
}

.nav.nav-sidebar.visible-xs > li > a {
	padding-left:0px;
	padding-right:0px;
} 

@media (max-width : 991px)
{
	.col-sm-0 {
		display: none;
	}
}

.navbar {
	min-height: 40px;
}

.navbar-nav > li > a {
	line-height: 18px;
	padding-top: 15px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	background-color: #76af1a;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	font-size: 15px;
	border: 0;
}

.navbar-inverse {
	background-color: #76af1a;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color : white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color : #EEEEEE;
}

.btn-hide {
	display:none;
}

.btn-invisible {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Miscrosoft.Alpha(Opacity=0)";
	cursor:default;
}

.table {
    border: 0 none;
    border-radius: 4px;
    margin-top: 20px;
}

.table-top {
	 margin-top: 0px;
}

.table a {
    color: #333;
}
.table a.btn {
    color: white;
}
.table > thead > tr > th {
    border: 0 none;
    vertical-align: middle;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.btn-sort-table, 
.bootstrap-dialog.type-primary .modal-header, 
.table-striped > tbody > tr:nth-child(2n) > td {
    background-color: #76af1a;
    color: #fff;
}
.table-striped > tbody > tr:nth-child(2n) > td a {
    color: white;
}

.bootstrap-dialog .bootstrap-dialog-title {
	display: inline;
}

/*** Partie deco ***/

/* Sign in */

#signin-logo {
	max-width:900px;
	margin:auto;
	padding-left:10px;
}

@media screen and (max-width : 767px){
	#signin-logo {
		padding-left:0px;
		text-align:center;
	}
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*** Master Commande ***/


/*** Partie conf ***/

/* Conf_room */

.field-add-room {
	height:50px;
}

/* Conf_floor */

.field-floors{
	height:50px;
}

/* Conf_device */

#selectDev {
	display:none;
}

#selectProto {
	display:none;
}

/*** Profile ***/

/* Profil page */

.save-button{
	position:relative;
	top:20px;
	text-align:center;

}

@media screen and (max-width : 767px){
	
	.password{
	prosition:relative;
	top:40px;
	}
}

/*** loading button ***/

@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}

/*** color-wheel ***/

.farbtastic {
  position: relative;
  margin: auto;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(img/mc/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(img/mc/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(img/mc/marker.png) no-repeat;
}

#color{
	color: rgba(0,0,0,0);
}


/*** click-drag popup custom ***/

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:900,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.cd-body {
	color: #fff;
	font-family: "Roboto", sans-serif;
}

#head {
	background: #fff;
	padding: .5em 0;
}

#content {
	padding: 4em 0 0;
	position: relative;
}

.text-center {
	text-align: center;
}

.bg-image {
	background-position: center center;
	background-size: cover;
}

.bg-image.aspect-square:before {
	content: "";
	display: block;
	padding-top: 50%;
}

[data-droppable] * {
	pointer-events: none;
}

.cd-panel {
	background: #f0f0f0;
	color: #454547;
	margin: 0 auto;
	border-radius: 5px;
}

.cd-panel-content {
	padding: 2em 1em;
}
.cd-panel-content label{
	display: inline;
}

.image-select {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	cursor:pointer;
}

.image-select input[type="file"] {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	top: 0;
	cursor: pointer;
	display: block;
	opacity: 0;
	z-index: 15;
}

.image-select__message:after {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #76af1a;
	bottom: 0;
	color: #fff;
	content: "Browse for file...";
	display: block;
	font-weight: bold;
	height: 3em;
	line-height: 3em;
	opacity: 0;
	padding: 0 1em;
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: translateY(100%);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	z-index: 5;
}

.image-select:hover .image-select__message:after {
	opacity: 1;
	transform: translateY(0);
}

.image-select__icon {
	bottom: .25em;
	color: #fff;
	position: absolute;
	right: .5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease, opacity 0.3s ease;
	z-index: 10;
}

.image-select:hover .image-select__icon {
	transform: scale(0.8, 0.8);
}

.file-hover {
	position: relative;
}

.file-hover:before {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	content: "";
	display: block;
	z-index: 30;
}

.file-hover:after {
	font-family: FontAwesome;
	animation: 1.5s bounce infinite;
	color: #fff;
	content: "";
	font-size: 5em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.5em 0 0 -0.5em;
	z-index: 35;
}

@keyframes bounce {
	0%
	{
		transform: translateY(0);
	}
	50%
	{
		transform: translateY(25%);
	}
	100%
	{
		transform: translateY(0);
  }
}

#uploadSuccess{
	color: green;
	text-align: center;
	display: none;
}

#uploadFail{
	color: red;
	text-align: center;
	display: none;
}

#deleteBtn{
	display: none;
}

/*** Bootstrap Switch ***/

.bootstrap-switch-greenleaf {
	background-color:#86BF2B;
	border-color:#6b981e;
	color:#fff;
}

.bootstrap-switch-disabled-with-opacity {
	opacity: 1 !important;
}

/*** Smartcommands ***/

.box-scenar-rooms {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	font-weight: bold;
	font-size: 1.1em;
	color: #76af1a;
}

.box-scenar-devices {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	color: #333;
}

.box-scenar-devices:hover {
	background-color: #f5f5f5;
}

.list-item > .active {
	background-color: #76af1a;
	color: #fff;
}

.floor-scenar{
	font-weight: bold;
	margin-top: 10px;
}

.btn-draggable {
	margin-top:10px!important;
	margin-right: 10px;
}

.border-color {	
	border: 5px solid red;
}

#drop-smartcmd {
	top: 100px;
	bottom: 50px;
	position: absolute;
}

.center-div {
	float: none;
	display: inline-block;
}

.save-navbar {
	top: 50px;
	border: 1px solid #F5F5F5;
}

.smartcmdElem {
	background-color: #F5F5F5;
	border: 1px solid #AAAAAA;
	border-radius: 10px;
	padding-bottom: 5px;
}

.delay {
	margin-top: 10px;
	margin-bottom: 20px;
}

.smartcmd-device-name {
	height: 50px;
	line-height: 50px;
}

.listSmartcmd {
	padding-bottom: 100px;
}

.timePicker {
	display: inline-block;
}

.disabled-with-opacity {
	opacity: 1 !important;
}

.smartcmdElemDrop {
	margin: 0;
	height: 50px;
	margin-bottom: 2px;
	margin-top: 2px;
}

.drop-zone-activate {
	border: 1px dashed black;
	border-radius: 5px;
	height: 100px;
}

#smartcmdElemDrop-0 {
	margin-top: 10px;
}

.smartcmdElem input[type="range"] {
	background-color: #fff;
}

.btn-elem-smartcmd {
	position: absolute;
}

.btn-elem-smartcmd.btn-primary{
	right: 50px;
}

.btn-elem-smartcmd.btn-danger {
	right: 10px;
}

.save-navbar > .btn-primary {
	margin-top: 10px;
}

#linked-room {
	float: right;
	margin-top: -5px;
}

#popup_smartcmd_content .input-group {
	width: 50% !important;
	margin: auto;
}

.smartcmd-color-option {
	height: 45px;
	width: 50%;
	border-radius: 20px;
	box-shadow: 1px 1px 4px;
}

.testTime {
	border: 1px solid red;
}
