Package: glmaster
Version: 0.3.2
Section: base
Priority: optional
Architecture: all
Pre-Depends: glslave,mariadb-server|mysql-server
Depends: avahi-daemon,fail2ban,htop,locate,logrotate,miniupnpc,nginx,ntpdate,openssh-client,php-apc,php5-curl,php5-fpm,php5-gd,php5-mysql,python3,python3-crypto,python3-mysql.connector,python3-pip,python3-pyasn1,python3-pycurl,python3-rsa,ssl-cert,sslh,screen,tcpdump
Maintainer: Greenleaf <contact@greenleaf.fr>
Description: Domoleaf master daemon running under python 3 for D3 boxes
