@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-chip:before {
	content: "\e000";
}
.flaticon-computer210:before {
	content: "\e001";
}
.flaticon-connection81:before {
	content: "\e002";
}
.flaticon-engineering:before {
	content: "\e003";
}
.flaticon-heating1:before {
	content: "\e004";
}
.flaticon-logotype56:before {
	content: "\e005";
}
.flaticon-measure20:before {
	content: "\e006";
}
.flaticon-minisplit:before {
	content: "\e007";
}
.flaticon-open203:before {
	content: "\e008";
}
.flaticon-password4:before {
	content: "\e009";
}
.flaticon-person199:before {
	content: "\e00a";
}
.flaticon-person206:before {
	content: "\e00b";
}
.flaticon-playbutton17:before {
	content: "\e00c";
}
.flaticon-sign35:before {
	content: "\e00d";
}
.flaticon-snowflake149:before {
	content: "\e00e";
}
.flaticon-thermometer2:before {
	content: "\e00f";
}
.flaticon-vintage62:before {
	content: "\e010";
}
.flaticon-wind34:before {
	content: "\e011";
}
.flaticon-winds4:before {
	content: "\e012";
}
